passwords.txt
nodeos.log

simple_blockchain/genesis.json
simple_blockchain/genesis/blockchain

simple_blockchain/genesis/start.sh
simple_blockchain/genesis/hard_replay.sh
simple_blockchain/genesis/genesis_start.sh


simple_complete_blockchain/genesis.json
simple_complete_blockchain/*/blockchain

simple_complete_blockchain/*/start.sh
simple_complete_blockchain/*/hard_replay.sh
simple_complete_blockchain/*/genesis_start.sh


testnet_blockchain/genesis.json
testnet_blockchain/blockchain

testnet_blockchain/start.sh
testnet_blockchain/hard_replay.sh
testnet_blockchain/genesis_start.sh

*.tar.gz